div.content
  h3.title.is-3 {{$t($data.i18nPrefix + 'title')}}
  h4.title.is-4 {{$t($data.i18nPrefix + 'general_info.title')}}

  p(v-html="$t($data.i18nPrefix + 'general_info.p1_html')")
  p(v-html="$t($data.i18nPrefix + 'general_info.p2_html')")
  p(v-html="$t($data.i18nPrefix + 'general_info.p3_html')")

  h4.title.is-4#cookies {{$t($data.i18nPrefix + 'cookie.title')}}

  p {{$t($data.i18nPrefix + 'cookie.p1')}}
  p {{$t(i18nPrefix + 'cookie.table_message')}}

  table.table.is-bordered.is-striped.is-narrow.is-fullwidth
    thead
      tr
        th {{$t('utils.Name')}}
        th {{$t('utils.Path')}}
        th {{$t('utils.Description')}}
    tbody
      tr(v-for="cookie in cookiesData" :key="cookie.name")
        td {{cookie.name}}
        td {{cookie.path}}
        td {{$t(i18nPrefix + 'cookie.info.' + cookie.key + '.' + cookie.name)}}

  h4.title.is-4 {{$t($data.i18nPrefix + 'dev_info.title')}}

  p {{$t($data.i18nPrefix + 'dev_info.p1')}}
  p(v-html="$t($data.i18nPrefix + 'dev_info.p2_html')")
  p(v-html="$t($data.i18nPrefix + 'dev_info.p3_html')")

  article.message
    div.message-body
      i(v-html="$t($data.i18nPrefix + 'dev_info.message_info_github_issue')")
