#app
  header
    nav.navbar.has-shadow
      div.navbar-brand
        a.navbar-item(:href="$i18n.path('/')")
          img(src="/img/icons/logo.png" alt="FOE-Tools logo" width="28" height="28")
        div.navbar-burger.burger(v-bind:class="{'is-active': burgerMenuVisible}" data-target="mainNavbar" @click="toggleMenu")
          span
          span
          span

      div#mainNavbar.navbar-menu(v-bind:class="{'is-active': burgerMenuVisible}")
        div.navbar-start
          template(v-for="value in mainMenu")
            template(v-if="value.children.length === 0")
              nuxt-link.navbar-item(:class="{'is-active': isActive(value.key)}" :to="'/' + value.link" exact) {{value.name}}
            div.navbar-item.has-dropdown.is-hoverable(v-else :key="value.slug")
              nuxt-link.navbar-link(v-if="value.type.name === 'PAGE'" :class="{'is-active': isActive(value.key)}" :to="'/' + value.link" exact) {{value.name}}
              a.navbar-link(v-else-if="value.type.name === 'MENU_ENTRY'" href="#") {{value.name}}
              div.navbar-dropdown.is-boxed
                template(v-for="child in value.children")
                  nuxt-link.navbar-item(v-if="child.type.name === 'PAGE'" :class="{'is-active': isActive(child.key)}" :to="'/' + child.link" exact) {{child.name}}
                  hr.navbar-divider(v-else-if="child.type.name === 'SEPARATOR'")

        div.navbar-end
          div.navbar-item
            language-selector
          div.navbar-item
            div.field.is-grouped
              a.button(href="https://github.com/FOE-Tools/FOE-Tools.github.io" target="_blank")
                span.icon
                  i.fab.fa-github
                span GitHub

  section.fixed(v-show="cookieDisclaimerUndisplayed")
    b-notification.is-radiusless.is-marginless.has-text-centered(type="is-dark" closable v-on:close="confirmInfoCookie" v-bind:active="cookieDisclaimerUndisplayed")
      div.has-text-centered  {{$t(i18nPrefix + 'cookie.message')}}
        |
        |
        nuxt-link(:to="$i18n.path('about#cookies')" exact) {{$t(i18nPrefix + 'cookie.link')}}
        | .

  section.hero.is-dark-blue
    div.hero-body
      div.container
        div.columns
          div.column.is-8-desktop.is-offset-2-desktop
            h1.title.is-2.is-spaced {{$t($store.state.hero.title)}}
            h2.subtitle.is-4(v-html="$t($store.state.hero.subtitle)")

  main.container.is-fullheight
    section.section
      div.container
        div.columns.is-centered
          div.column.is-three-quarters
            b-notification.newYearNotification(v-show="isNewYear") ðŸŽ‰&nbsp;&nbsp;{{$t(i18nPrefix + 'new_year.message', { count: nbYears })}}&nbsp;&nbsp;ðŸ°
        div.columns.is-centered
          div.column.is-three-quarters
            div(v-if="(['home', 'gb_investment', 'contributors'].indexOf($store.state.currentLocation) >= 0) && !$route.params.gb")
              nuxt
            div.card.article(v-else)
              div.card-content
                div.content.article-body
                  div.columns(v-show="isPermalink")
                    div.column
                      b-message(v-bind:title="$t('utils.Information')" type="is-warning" has-icon) {{$t(i18nPrefix + 'permalink_info')}}
                  nuxt

  footer.footer.has-text-centered
    div.container
      div.columns
        div.column.is-8-desktop.is-offset-2-desktop
          nav.breadcrumb.has-dot-separator.is-centered.is-marginless(aria-label="breadcrumbs")
            ul
              li(v-for="footerLink in footerLinks" v-bind:class="{ 'is-active': $store.state.currentLocation === footerLink.key }")
                nuxt-link(v-bind:to="$i18n.path(footerLink.link)" exact) {{$t('footer_menu.' + footerLink.key)}}
          p
            small(v-html="$t('components.site_layout.footer.license_html')")
          p {{$t('components.site_layout.footer.version', {version: siteVersion})}}
