div.content
  div.tile.is-ancestor(v-for="users in contributors")
    div.tile.is-parent(v-for="user in users")
      article.tile.is-child(v-if="user !== null")
        div.card
          div.card-content
            div.media.contributor-media
              div.media-left
                figure.image.is-48xauto(style="margin-left: 0em; margin-right: 0em;")
                  a(v-if="user.profile" v-bind:href="user.profile" target="_blank")
                    img.contributor-avatar(v-bind:src="user.avatar_url" v-bind:alt="user.login + ' avatar'")
                  template(v-else)
                    img.contributor-avatar(v-bind:src="user.avatar_url" v-bind:alt="user.login + ' avatar'")
              div.media-content
                p.title.is-4
                  a(v-if="user.profile" v-bind:href="user.profile" target="_blank") {{user.name}}
                  template(v-else) {{user.name}}
            div.content.contributor-icons
              b-tooltip(v-for="contribution in user.contributions" :key="contribution" v-bind:label="$t('contributions.' + contribution)" type="is-dark")
                span {{allContributorsrc.types[contribution].symbol}}


