div
  h4.title.is-4 {{$t(i18nPrefix + 'title')}}

  div.columns
    div.column.is-half
      b-field(v-bind:label="$t(i18nPrefix + 'label.i_have')" v-bind:label-for="iHaveId")
        b-select(v-bind:id="iHaveId" v-model="iHave" expanded)
          option(v-for="(value, key) in tradeInput.value" :key="key" v-bind:value="key") {{$t('foe_data.' + (tradeInput.age ? 'age' : 'goods') + '.' + key)}}

    div.column.is-half
      b-field(v-bind:label="$t(i18nPrefix + 'split_value', { count: maxSplitValue })" v-bind:label-for="splitValueId" v-bind:type="haveError('splitValue')")
        b-input(v-bind:id="splitValueId" type="number" min="0" v-bind:max="maxSplitValue" v-model.number="splitValue" name="splitValue" autocomplete="off")

  div.columns
    div.column.is-half
      b-field(v-bind:label="$t(i18nPrefix + 'label.i_want')" v-bind:label-for="iWantId")
        b-select(v-bind:id="iWantId" v-model="iWant" expanded)
          option(v-for="(value, key) in tradeInput.value" :key="key" v-bind:value="key") {{$t('foe_data.' + (tradeInput.age ? 'age' : 'goods') + '.' + key)}}

    div.column.is-half
      b-field(v-bind:label="$t(i18nPrefix + 'label.amount')" v-bind:type="haveError('value')" v-bind:label-for="valueId")
        b-input(v-bind:id="valueId" type="number" min="0" v-model.number="value" v-bind:name="valueId" autocomplete="off")

  p(v-if="result.length > 0") {{$t(i18nPrefix + 'message.result', { from: $formatNumber(result[0].amount), to: $formatNumber(value), ageFrom: $t('foe_data.' + (tradeInput.age ? 'age' : 'goods') + '.' + iHave), ageTo: $t('foe_data.' + (tradeInput.age ? 'age' : 'goods') + '.' + iWant), count: splitValue })}}

  ul(v-if="result.length > 1")
    li(v-for="(value, key) in result" :key="key" v-if="key < (result.length - 1)")
      span(v-if="value.split[1].from > 0") {{$t(i18nPrefix + 'split_message.multi', { count: $formatNumber(value.split[0].count), valueFrom: $formatNumber(value.split[0].from), valueTo: $formatNumber(value.split[0].to), ageFrom: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + value.key), ageTo: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[key + 1].key), valueFromSingle: $formatNumber(value.split[1].from), valueToSingle: $formatNumber(value.split[1].to), ageFrom: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + value.key), ageTo: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[key + 1].key) })}} {{$t(i18nPrefix + 'message.total', { amount: $formatNumber(value.amount), key: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + value.key) })}}
      span(v-else="value.split[1].from > 0") {{$t(i18nPrefix + 'split_message.common', { count: $formatNumber(value.split[0].count), valueFrom: $formatNumber(value.split[0].from), valueTo: $formatNumber(value.split[0].to), ageFrom: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + value.key), ageTo: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[key + 1].key), valueFromSingle: $formatNumber(value.split[1].from), valueToSingle: $formatNumber(value.split[1].to) })}} {{$t(i18nPrefix + 'message.total', { amount: $formatNumber(value.amount), key: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + value.key) })}}

  ul(v-if="result.length === 1")
    li
      span(v-if="result[0].split[1].from > 0") {{$t(i18nPrefix + 'split_message.multi', { count: $formatNumber(result[0].split[0].count), valueFrom: $formatNumber(result[0].split[0].from), valueTo: $formatNumber(result[0].split[0].to), ageFrom: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key), ageTo: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key), valueFromSingle: $formatNumber(result[0].split[1].from), valueToSingle: $formatNumber(result[0].split[1].to), ageFrom: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key), ageTo: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key) })}} {{$t(i18nPrefix + 'message.total', { amount: $formatNumber(result[0].amount), key: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key) })}}
      span(v-else="") {{$t(i18nPrefix + 'split_message.common', { count: $formatNumber(result[0].split[0].count), valueFrom: $formatNumber(result[0].split[0].from), valueTo: $formatNumber(result[0].split[0].to), ageFrom: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key), ageTo: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key), valueFromSingle: $formatNumber(result[0].split[1].from), valueToSingle: $formatNumber(result[0].split[1].to) })}} {{$t(i18nPrefix + 'message.total', { amount: $formatNumber(result[0].amount), key: $t('foe_data.' + (tradeInput.age ? 'age_short' : 'goods') + '.' + result[0].key) })}}
